html {
  scroll-behavior: smooth;
}

body {
  font-family: "Staatliches", cursive;
  background: rgb(241, 240, 240);
}
#profile-pic {
  width: 200;
  display: block;
  margin: auto;
  margin: 10;
  border-radius: 45%;
  padding: 5;
  border: 2px solid #000000;
}

.counters {
  width: 85;
  margin: 10;
  border-radius: 50%;
  padding: 5;
  border: 2px solid #ffffff;
}

.nav-link a {
  color: #f8f9fa;
}

.parallax {
  /* The image used */
  background-image: url("...");

  /* Set a specific height */
  min-height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxMatrix {
  /* The image used */
  background-image: url("../images/matrix.jpeg");

  /* Set a specific height */
  min-height: 350px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dropclass {
  position: relative;
  z-index: 10000;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.counterbtn a {
  color: black;
}

.facejumbo {
  min-width: 100%;
  min-height: 100%;
  min-height: 100vh;
  background-color: #000000;
  color: rgb(21, 52, 5);
  background-image: url("../images/flowers.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

/* .jumbotron { */
/* display: flex;
  text-overflow: hidden;
  margin: 0px;
  
  
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-size: cover; */
/* } */

#particles-js {
  background: rgba(0, 10, 14, 0.8);

  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;

  background-size: cover;
  background-position: center;
  overflow: hidden;
}

nav {
  background-color: #eeeeee;
  width: 100%;
}

.navbar {
  margin-left: 1rem;
  width: 100%;
  float: none;
}

.navbar-brand {
  text-align: center;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.blurb {
  background: rgba(255, 255, 255, 0.217);
  background-size: 0rem;
}

.subtitle,
a {
  color: #ffffff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#navbar {
  z-index: 999;
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

#github {
  border-radius: 200px;
  width: 30px;
  margin-right: 3px;
}
